body {
    background-color: rgb(255, 215, 162);
    margin: 0;
    
}

.header {
    display: flex;
    justify-content: space-around;
}

 .left {
    background-color: rgb(255, 215, 162);
    height: 60vh;
    margin-top: 100px;
    margin-left: 200px;

 }

#email {
    border: 3px solid rgb(7, 7, 7);
    border-radius: 5px;
    font-size: 12px;
    height: 40px;
    width: 300px;
}

#button {
    border: 2px solid rgb(7, 7, 7);
    font-size: 12px;
    border-radius: 5px;
    background-color: black;
    color: whitesmoke;
    height: 45px;
    width: 130px;
}

pre{
    color: aliceblue;
}

 .footer {
    background-color: rgb(35, 34, 32);
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 1em 12em 4.7em 12em;
 }

.ul1, .ul2 {
    list-style: none;
}
